.loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.detail-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
}

.info-container {
  display: flex;
  width: 80%;
  padding-left: 170px;
  padding-top: 50px;
  gap: 250px;
}

.detail-image {
  border-radius: 24px;
}

.detail-info {
  width: 55%;

  h2 {
    font-weight: 600;
    font-size: 36px;
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .features {
    p {
      font-weight: 700;
      font-size: 16px;
      span {
        font-weight: 500;
      }
    }
  }
}

.photo-container {
  p {
    font-weight: 600;
    font-size: 36px;
  }

  .photo-wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    .extra-image {
      border-radius: 24px;
    }
  }
}

.logo {
  cursor: pointer;
}
